.footer {
  min-height: 7vh;
  padding: 2vh;
  text-align: center;
  color: #fcfff4; /* Light beige text color */
  background-color: #2c3e50; /* Dark blue background color */
  position: fixed;
  overflow: hidden; /* To contain the animations */
}

.footer p {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1; /* Make sure text is above the animations */
  font-size: 1.2em; /* Adjust the font size for better visibility */
}

.footer::before, .footer::after {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  top: -100%;
  left: -100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  transform: rotate(45deg);
  animation: animate 5s linear infinite;
  z-index: 0; /* Ensure animations are below the text */
}

.footer::after {
  animation-direction: reverse;
}

@keyframes animate {
  0% {
    transform: translateX(0) translateY(0) rotate(45deg);
  }
  100% {
    transform: translateX(200%) translateY(200%) rotate(45deg);
  }
}

.footer a {
  color: #fff; /* White color for links */
  text-decoration: none; /* Remove underline from links */
  transition: color 0.3s ease, text-decoration 0.3s ease; /* Smooth transition for hover effects */
}

.footer a:hover {
  color: #007bff; /* Blue color on link hover */
  text-decoration: underline; /* Add underline on link hover */
}
