.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #2c3e50;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  animation: bounce 2s infinite, glow 1.5s infinite alternate;
  transition: color 0.3s;
}

.logo:hover {
  color: #ff416c;
  text-shadow: 0 0 10px #ff416c, 0 0 20px #ff416c, 0 0 30px #ff416c, 0 0 40px #ff416c;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #3498db, 0 0 20px #3498db, 0 0 30px #3498db, 0 0 40px #3498db;
  }
  to {
    text-shadow: 0 0 20px #2980b9, 0 0 30px #2980b9, 0 0 40px #2980b9, 0 0 50px #2980b9;
  }
}

.search-container {
  display: flex;
  align-items: center;
}

#search-fs {
  display: flex;
  align-items: center;
}

#search-text {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px 0 0 20px;
  outline: none;
  width: 250px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

#search-text:focus {
  border-color: #3498db;
  box-shadow: 0 0 8px rgba(52, 152, 219, 0.5);
}

.search-button {
  background-color: #e67e22;
  border: none;
  padding: 10px 15px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.search-button .fa-search {
  font-size: 16px;
}

.search-button:hover {
  background-color: #d35400;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(211, 84, 0, 0.5);
}

/* New styles for login button */
.login-button-container {
  margin-left: 20px;
}

.login-button {
  background-color: #3498db;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  outline: none;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.login-button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(41, 128, 185, 0.5);
}
