.sidebar {
  width: 250px; /* Ensure this matches the main container's margin-left */
  /* height: 100vh; */
  background-color: #2c3e50;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* position: fixed; */
  transition: width 0.3s;
  z-index: 10; 
}

.sidebar-header {
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.sidebar nav {
  flex-grow: 1;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  /* padding: 20px 20px; */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar ul li a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 20px 20px;

  transition: background 0.3s;
}

.sidebar ul li a:hover {
  background-color: #1c252e;
  cursor: pointer;
}

.sidebar ul li a i {
  margin-right: 10px;
}

.sidebar-footer {
  padding: 20px;
  background-color: #151515;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-profile img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.user-profile h4 {
  margin: 0;
  font-size: 1rem;
}

.user-profile p {
  margin: 0;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.6);
}
