name: Node.js CI/CD API

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
      name: Checkout code

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Install Dependencies
      run: |
        npm ci
        npm install -g pm2  # Install PM2 

    - name: Restart Back-End Server
      working-directory: ./backend  # Path to your back-end code
      run: pm2 restart Backend || pm2 start server.js --name Backend

    # Front-End Steps
    - name: Install Front-End Dependencies
      working-directory: ./frontend  # Path to your front-end code
      run: npm ci

    - name: Start Front-End Server
      working-directory: ./frontend  # Path to your front-end code
      run: nohup npm start > frontend.log 2>&1 &

    - name: Notify Deployment Success
      run: echo "Deployment and restart successful!"
